*{
  background-color: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

ul{
  list-style: none;
}